* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header-menu {
    overflow: hidden;
    background-color: #333;
}

li {
    list-style-type: none;
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }